<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abedkiloo.cpmisapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CPIMSActivities.LoginUSG"></activity>
        <activity android:name=".CPIMSActivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OVC_CARE_Forms.Activities.Form1A"
            android:label="@string/form_1a_detail_activity" />
        <activity android:name=".CPIMSActivities.Forms" />
        <activity android:name=".CPIMSActivities.OVC_CARE" />
        <activity
            android:name=".OVC_CARE_Forms.Activities.CSI"
            android:label="@string/title_activity_csi" />
        <activity android:name=".CPIMSActivities.Launcher"></activity>
        <activity android:name=".CPIMSActivities.OrgUnitSelect">

        </activity>
    </application>

</manifest>